---
layout: base.njk
---
<section id="article-content" class="container article-content">
    <h1>{{ arttitle }}</h1>
    <p class="article-date"></p>
    <article>
        <br>
        {{content | safe}}  
    </article>
    <a href="articles" class="cta">Back to articles</a>
</section>